<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TAYA</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/mobile.css">
  <link rel="icon" href="images/logo.ico">
  <style>
    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 25px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>

<body>
  <div id="page" style="background: url('images/bg-home.jpg') no-repeat scroll center top #00000000;">
    <div id="header" style="background: #3f51b5b0">
      <div>
        <!--<a href="#maptn" id="myBtn" class="logo" style="width: auto; float:right"><img src="{{ asset('images/logoT.png') }}" alt=""></a>-->
        <ul id="navigation">
          <!--<li class="selected">
            <a href="index.html">Taya</a>
          </li>-->
          <li><!--class="selected" -->
            <a href="index.html"><b>Home</b></a>
          </li>
          <!--<li class="menu">
            <a href="projects.html">Projects</a>
            <ul class="primary">
              <li>
                <a href="proj1.html">proj 1</a>
              </li>
            </ul>
          </li>
          <li class="menu">
            <a href="blog.html">Blog</a>
            <ul class="secondary">
              <li>
                <a href="singlepost.html">Single post</a>
              </li>
            </ul>
          </li>-->
          <li>
            <a href="soon.html">about <b>taya</b></a>
          </li>
          <li>
            <a href="pages/members.html">Members</a>
          </li>
          <li>
            <a href="pages/articles.html">Articles</a>
          </li>
          <li>
            <a href="soon.html">donate</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div id="body" class="home">
      <div class="header">
        <div>
          <img src="images/taya1.png" alt="" class="satellite">
          <h1 class="txt" style="color: #ffffff80;">Tunisian Association</h1>
          <h2 class="txt" style="color: #ffffff80;">of Young Astronomers</h2>
          <!--<a href="blog.html" class="more">Read More</a>-->
          <h3 class="taya" style="margin: 200px 0 0;">a scientific, cultural and educational Astronomical Association
          </h3>
          <!--<ul>
            <li><a href="projects.html"><img src="images/project-image1.jpg" alt=""></a></li>
            <li><a href="projects.html"><img src="images/project-image2.jpg" alt=""></a></li>
            <li><a href="projects.html"><img src="images/project-image3.jpg" alt=""></a></li>
            <li><a href="projects.html"><img src="images/project-image4.jpg" alt=""></a></li>
          </ul>-->
        </div>
      </div>
      <div class="body" style="background: #3f51b5b0;">
        <div>
          <h1>About Us</h1>
          <p>The Tunisian Association of young Astronomers is a scientific , cultural and educational association, which
            was founded in 2017 by a group of students of different levels and specialties.</p>
          <hr />
          <p>هي جمعية علمية, ثقافية و تعليمية تأسست 20 أكتوبر 2017, حيث قام بتأسيسها مجموعة من الطلبة من مختلف المستويات
            و التخصصات الجامعية.</p>
          <br />
        </div>
      </div>
      <div class="footer">
        <div>
          <ul>
            <li>
              <h1>Contacts:</h1>
              <!--<a href="blog.html"><img src="images/mars-rover.jpg" alt=""><span></span>
              </a>-->
              <!--<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMenchariAbdelaziz%2Fposts%2F2197451483756124&show_text=false&width=500" width="500" height="272" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>-->
              <ul>
                <li>
                  <h1>Tel</h1>
                  <span>+216 52 874 765</span>
                  +216 52 874 765
                </li>
                <li>
                  <h1>E-mail</h1>
                  <span style="text-transform: lowercase;">tayatn@gmail.com</span>
                </li>
                <!--<li>
                  <h1>Follow</h1>
                  <span class="socialmedia">
                    <a href="https://www.facebook.com/AstroTunisianTaya" class="facebook">facebook</a>
                    <a href="https://twitter.com/TayaTunisia" class="twitter">twitter</a>
                  </span>
                </li>-->
              </ul>
            </li>
            <li>
              <h1></h1>
              <iframe id="maptn"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.3733087823134!2d10.145384115172257!3d36.833534579941684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd33133403cc51%3A0xe751d5ed005a8f47!2sFacult%C3%A9%20des%20Sciences%20de%20Tunis%20(FST)!5e0!3m2!1sfr!2stn!4v1648904120745!5m2!1sfr!2stn"
                width="400" height="300" style="border:0;width:100%" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="footer">
      <div class="connect" style="background: #3f51b5b0;">
        <div>
          <h1>FOLLOW US ON</h1>
          <div>
            <a href="https://www.facebook.com/AstroTunisianTaya" class="facebook">facebook</a>
            <a href="https://twitter.com/TayaTunisia" class="twitter">twitter</a>
            <a href="https://www.youtube.com/channel/UCglAWe0u0FgEYeAAICBs1Xg" class="googleplus">googleplus</a>
            <a href="https://www.instagram.com/astrotunisiantaya/" class="pinterest">pinterest</a>
          </div>
        </div>
      </div>
      <div class="footnote" style="min-height:auto">
        <div style="padding:0">
          <p>&copy; 2022 By <a href="https://menchari.codeberg.page/" target="_blank">MENCHARI</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <!--<p>Some text in the Modal..</p>-->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6454097.719645597!2d5.068087983965208!3d33.80041050217458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x125595448316a4e1%3A0x3a84333aaa019bef!2sTunisie!5e1!3m2!1sfr!2stn!4v1656165024875!5m2!1sfr!2stn"
        width="800" height="600" style="border:0;width:100%;height:600px" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

  <script src="js/mobile.js" type="text/javascript"></script>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    /*var btn = document.getElementById("myBtn");*/

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    /*btn.onclick = function () {
      modal.style.display = "block";
    }*/

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>

</html>