<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAYA</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/mobile.css">
    <link rel="icon" href="../images/logo.ico">
    <style>
        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 25px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div id="page" style="background: url('../images/bg-home.jpg') no-repeat scroll center top #00000000;">
        <div id="header" style="background: #3f51b5b0">
            <div>
                <!--<a href="#maptn" id="myBtn" class="logo" style="width: auto; float:right"><img src="{{ asset('images/logoT.png') }}" alt=""></a>-->
                <ul id="navigation">
                    <!--<li class="selected">
            <a href="index.html">Taya</a>
          </li>-->
                    <li><!--class="selected" -->
                        <a href="../index.html"><b>Home</b></a>
                    </li>
                    <!--<li class="menu">
            <a href="projects.html">Projects</a>
            <ul class="primary">
              <li>
                <a href="proj1.html">proj 1</a>
              </li>
            </ul>
          </li>
          <li class="menu">
            <a href="blog.html">Blog</a>
            <ul class="secondary">
              <li>
                <a href="singlepost.html">Single post</a>
              </li>
            </ul>
          </li>-->
                    <li>
                        <a href="../soon.html">about <b>taya</b></a>
                    </li>
                    <li>
                        <a href="../pages/members.html">Members</a>
                    </li>
                    <li>
                        <a href="../pages/articles.html">Articles</a>
                    </li>
                    <li>
                        <a href="../soon.html">donate</a>
                    </li>
                </ul>
            </div>
        </div>

        <style>
            * {
                box-sizing: border-box;
            }
        
            /* Float four columns side by side */
            .column {
                float: left;
                width: 25%;
                height: 400px;
                padding: 10px 10px !important;
                margin-bottom: 25px !important;
            }
        
            /* Remove extra left and right margins, due to padding */
            .row {
                margin: 0 -5px;
            }
        
            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        
            /* Responsive columns */
            @media screen and(max-width: 600px) {
                .column {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                }
            }
        
            /* Style the counter cards */
            .card {
                box-shadow: 0 4px 8px 0
                    /*rgba(0, 0, 0, 0.2)*/
                    #ffffff33;
                padding: 16px;
                text-align: center;
                /*background-color: #f1f1f1;*/
                /*min-height: 400px;*/
            }
        
            #body .header div {
                overflow: unset;
            }
        </style>
        <div id="body" style="background: url('../images/stars.png') #000000;">
            <div class="header">
                <div>
                    <h1 style="margin:auto">Our Members</h1>
                    <hr />
                    <div class="row">
                        
                        <div class="column">
                            <div id="mbrid" class="card" style="padding:16px;background: black;"
                                title="member.bio">
                                <img src="../uploads/menchari_abdelaziz.jpg"
                                    style="max-width: 75%; max-height: 140px; border-radius: 75px;" alt="member.photo">
                                <h2 style="width:auto;padding:27px 0 27px;color:white">Menchari Abdelaziz</h2>
                                <!--<span style="white-space: pre-wrap; color:#A3A3A3">member.role</span>-->
                                <hr />
                                <span style="white-space: pre-wrap; color:#A3A3A3">iT Member</span>
                                <!--<span style="white-space: pre-wrap; color:#A3A3A3">member.bio|length > 116 ?
                                    member.bio|slice(0, 116) ~ '...' : member.bio</span>-->
                            </div>
                        </div>
                        
        
                        <!--<ul>
                            <li>
                                <a href="proj1.html"><img src="images/curious-rover.jpg" alt=""></a>
                                <div>
                                    <h1>MARS CURIOSITY ROVER
                                    </h1>
                                    <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use.</p>
                                    <a href="proj1.html" class="more">Read More</a>
                                </div>
                            </li>
                            <li>
                                <a href="proj1.html"><img src="images/space-station.jpg" alt=""></a>
                                <div>
                                    <h1>INTERTERNATIONAL SPACE STATION</h1>
                                    <p>Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special.</p>
                                    <a href="proj1.html" class="more">Read More</a>
                                </div>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>

        <div id="footer">
            <div class="connect" style="background: #3f51b5b0;">
                <div>
                    <h1>FOLLOW US ON</h1>
                    <div>
                        <a href="https://www.facebook.com/AstroTunisianTaya" class="facebook">facebook</a>
                        <a href="https://twitter.com/TayaTunisia" class="twitter">twitter</a>
                        <a href="https://www.youtube.com/channel/UCglAWe0u0FgEYeAAICBs1Xg"
                            class="googleplus">googleplus</a>
                        <a href="https://www.instagram.com/astrotunisiantaya/" class="pinterest">pinterest</a>
                    </div>
                </div>
            </div>
            <div class="footnote" style="min-height:auto">
                <div style="padding:0">
                    <p>&copy; 2022 By <a href="https://menchari.codeberg.page/" target="_blank">MENCHARI</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <!--<p>Some text in the Modal..</p>-->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6454097.719645597!2d5.068087983965208!3d33.80041050217458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x125595448316a4e1%3A0x3a84333aaa019bef!2sTunisie!5e1!3m2!1sfr!2stn!4v1656165024875!5m2!1sfr!2stn"
                width="800" height="600" style="border:0;width:100%;height:600px" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

    <script src="../js/mobile.js" type="text/javascript"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        /*var btn = document.getElementById("myBtn");*/

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        /*btn.onclick = function () {
          modal.style.display = "block";
        }*/

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>